name: Clear all caches
on:
  workflow_dispatch: # Manam manually trigger cheyadaniki

jobs:
  clear-cache:
    runs-on: ubuntu-latest
    permissions:
      actions: write    # Required to delete caches!
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Clear cache
        run: |
          gh cache delete --all --repo ${{ github.repository }}
        env:
          GH_TOKEN: ${{ github.token }}